
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import 'variables';
@import "checkbox.css";

#app {
  font-family: 'Open Sans', sans-serif;
}

.custom-flex-css {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.breadcrumb {
  background-color: white !important;
}
.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block !important;
  padding-right: .5rem !important;
  color: #6c757d !important;
  content: ">" !important;
}

.vue-notification {
  &.success {
    border-left-color: #00c851 !important;
    background-color: #00c851 !important;
    color: white;
  }
}

.notifications {
  margin-top: 100px;
}

.text-transform-initial {
  text-transform: initial !important;
}

.v-select.searchable > div.dropdown-toggle {
  border: 0 !important;
}
.v-select input[type=search], .v-select input[type=search]:focus {
  border-bottom: 1px solid #ced4da !important;
}

.open-indicator {
  display: none !important;
}

.clear {
  display: none !important;
}

.selected-tag {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0,0,0,.6);
  line-height: 32px;
  padding: 0 12px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-color: #eceff1;
  margin-bottom: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  border-bottom: 1px solid #ced4da !important;
}

.selected-tag:hover {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  background-color: #e0e0e0;
}