
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import 'variables';
@import "checkbox.css";

#app {
  font-family: 'Open Sans', sans-serif;
}

.custom-flex-css {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.breadcrumb {
  background-color: white !important;
}
.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block !important;
  padding-right: .5rem !important;
  color: #6c757d !important;
  content: ">" !important;
}

.vue-notification {
  &.success {
    border-left-color: #00c851 !important;
    background-color: #00c851 !important;
    color: white;
  }
}

.notifications {
  margin-top: 100px;
}

.text-transform-initial {
  text-transform: initial !important;
}
