
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import 'variables';
@import "checkbox.css";

#app {
  font-family: 'Open Sans', sans-serif;
}

.custom-flex-css {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}